.tab {
  position: relative;
  height: 100%;
  cursor: default;
  margin: 0;
  padding: 4px 16px;
  border-radius: unset;
  font-weight: normal;
}

.tab::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
}

.tab:not(.selected)::after {
  height: 1px;
  background: #c3c6d4;
}

.tab.selected::after {
  height: 2px;
  background: #029cfd;
}

.tab:hover {
  background: transparent;
}

.tab:hover.selected {
  color: inherit;
}

.tab:hover:not(.selected) {
  cursor: pointer;
}
