.toolbarButton {
  margin: 0;
  padding: 8px 16px;
  gap: 4px;
}

.toolbarButton.smallPadding {
  padding-inline: 8px;
}

.toolbarButton,
.toolbarButton:hover {
  color: #4a4a4a;
}

.toolbarButton:hover {
  background-color: #6768791a;
}
