.tab {
  position: relative;
  width: 100%;
  height: 50px;
  cursor: default;
  margin: 0;
  padding: 0;
  border-radius: unset;
  font-weight: normal;
}

.tab.selected::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: #029cfd;
}

.tab:hover:not(.selected) {
  cursor: pointer;
}
